
.services-images img{
    width: 720px;
  height: 520px;
  object-fit: cover;
  position: absolute;
  /* top: 60px; */
  left: 160px;
  border-radius: 5px;
}
.services-card{
    width: 430px;
  background: rgb(255, 255, 255);
  padding: 30px 35px;
height: 300px;
  position: absolute;
  /* top: 300px; */
  left: 800px;
  border-radius: 6px;
  margin-top: 278px;
}
.services-card h1{
    font-size: 28px;
  line-height: 1.3;
  margin-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services-card h1 span{
    color: #724d7f;
}

.services-card button{
    padding: 10px 20px;
  background-color:  #5e3e68;;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 78px;
}