
.about h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #ff5c8a;
  margin-bottom: 20px;
margin-left: 105px;
padding:95px;

}

.pera p {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
  max-width: 950px;
  margin: 0 auto;
  text-align: justify;
  margin-left: 281px;
  margin-bottom: 178px;
}

.aboutimg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
}

.pink-block  img {
  width: 220px;
  height: 320px;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  margin-top: 178px;
  margin-left: 455px;
}

.aboutpara {
  max-width: 600px;
}
.heading h1 {
  font-size: 36px;
  font-weight: 700;
  color: #ff5c8a;
  margin-bottom: 10px;
  margin-left:178px;
}

.paragraph {
  font-size: 20px;
  font-weight: 600;
  color: #666;
  margin-bottom: 20px;
  margin-left: 298px;
}

.paraaa p {
  font-size: 17px;
  color: #444;
  line-height: 1.8;
  text-align: justify;
  margin-left: 208px;
}
.pink-block {
  width: 570px;
  height: 620px;
  background-color: #ebb7c5;
 
margin-bottom: -564570px;
  z-index: -1;
  margin-left: -578px;
}

@media (max-width: 991px) {
  .aboutimg {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aboutpara {
    max-width: 90%;
  }

  .image-about img {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .aboutheading {
    padding: 100px 20px;
  }

  .about h1 {
    font-size: 34px;
  }

  .heading h1 {
    font-size: 28px;
  }
}

.review-section {
  padding: 80px 60px;
  text-align: center;
  background: #fff;
}

.review-title {
  font-size: 36px;
  font-weight: 700;
  color: #ff5c8a;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.review-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.review-card {
  width: 320px;
  text-align: left;
}

.review-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.review-card h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.review-card p {
  margin-top: 10px;
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}

/* Hover Animation */
.review-card:hover img {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

.review-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

/* ================= RESPONSIVE ================ */

@media (max-width: 900px) {
  .review-section {
    padding: 60px 30px;
  }
}

@media (max-width: 768px) {
  .review-grid {
    flex-direction: column;
    align-items: center;
  }

  .review-card {
    width: 100%;
    max-width: 350px;
  }
}

