.wedding-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e9d7dc; /* soft pink like screenshot */
  padding: 40px 20px;
  gap: 20px;
  margin: 55px;
}

.left-image {
  flex: 1;
  min-width: 250px;
  text-align: center;
  margin: 45px;

}

.left-image img {
  width: 100%;
  max-width: 300px;
  height: 270px;
  margin-top: 128px;
}

.left-image h2 {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.right-text {
  flex: 2;
  min-width: 300px;
}

.right-text h2 {
  font-size: 2.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
  
 
}

.right-text p {
  margin-bottom: 15px;
  line-height: 1.5;
  font-family: cursive;
}

.right-text .details {
  font-size: 0.9rem;
  color: #111111;
}


.right-text button:hover {
  background-color: black;
  color: white;
}

.right-image {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.right-image img {
  width: 100%;
  max-width: 300px;
  height: 650px;
}
.right-text button{
    margin-top: 10px;
    margin-left: 78px;
    background-color:#583664 ;
}