/* Navbar Main Container */
.navbar {
  width: 100%;
  height: 120px;
  background: #5e3e68;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Logo */
.nav-logo img {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

/* Navbar List */
.navbar-list {
  display: flex;
  align-items: center;
  gap: 1px;
  list-style: none;
  margin-right: 20px;
}

.navbar-list li {
  font-size: 18px;
  font-weight: 600;
}

.navbar-list li a {
  text-decoration: none;
  color: #f1efef;
  transition: 0.3s ease;
  margin-right: 57px;

}

/* Hover Effect */
.navbar-list li a:hover {
  color: #ff5c8a; /* pinkish hover */
  border-bottom: 2px solid #ff5c8a;
  padding-bottom: 4px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar-list {
    gap: 20px;
  }

  .nav-logo img {
    width: 90px;
  }

  .navbar-list li {
    font-size: 16px;
  }
}
