.wed-footer {
  background-color: #5e3e68;
  color: #fff;
  padding: 40px 0 20px;
  text-align: center;
  width:100%;
  margin-top: 80px;   
  width:1510px;
}

.footer-title {
  font-size: 36px;
  font-weight: 600;
  color: #ffdde6;
}

.footer-sub {
  color: #f5c2d8;
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.footer-col {
  width: 220px;
  text-align: left;
}

.footer-col h3 {
  margin-bottom: 15px;
  color: #ffbdd6;
  font-size: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #ff7fae;
  transform: translateX(5px);
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #ffffff4a;
  font-size: 14px;
  color: #ffd3e6;
}
